<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-12">
    <div class="header-post display-flex justify-space-between">
        <a class="title" href="/post/{{post.id}}">{{title}}</a>
        <p class="posted-by">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="content-post">
      <p>
        {{post.content}}
      </p>
    </div>
  </div>
</div>
{{/each}}
