<div class="post-block" id="{{id}}">
  <div class="header-post display-flex justify-space-between">
    <h2 class="title">{{title}} {{get_emoji}}</h2>
    <p class="posted-by">Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="content-post">
    <p>{{content}}</p>
  </div>
</div>

{{#if logged_in}}
<button class="btn btn-primary post-comment" data-bs-toggle="modal" data-bs-target="#commentModal">Add a Comment</button>
{{/if}}

{{#each comments as |comment|}}
  <div class="header-post">
    <p></p>
  </div>
  <div class="content-post">
    <p>{{comment.content}}</p>
    <p>- userName, {{format_date comment.date_created}} </p>
  </div>
{{/each}}

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form new-post-form">
          {{!-- <div class="form-group">
            <label for="edit-post-title">Title</label>
            <input class="form-input" type="text" id="edit-post-title" />
          </div> --}}
          <div class="form-group">
            <label for="post-comment">Comment</label>
            <textarea class="form-input" id="post-comment" title="post-content"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary w-100" id="submit-comment" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/post.js"></script>